@model IEnumerable<DAL_Data_Access_Layer_.Model.Candidate>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Candidates</h1>

<p>
    <a class="bi bi-plus-circle-fill" asp-action="Create"> Create New Political Candidate</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                    <tr>
                        <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            <a style="color:#5cb85c" class="bi bi-pencil-square" asp-action="Edit" asp-route-id="@item.CandidateId"></a> |
                            <a style="color:#0275d8 " class="bi bi-collection-fill" asp-action="Details" asp-route-id="@item.CandidateId"></a> |
                            <a style="color:#d9534f " class="bi bi-trash-fill" asp-action="Delete" asp-route-id="@item.CandidateId"></a>
                        </td>
                    </tr>
        }
    </tbody>
</table>
