@model IEnumerable<Service_Layer.vwModel.vwCandidate>

    @{
    ViewData["Title"] = "VotingResult";
}
<style>
    .firstcellradius {
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-top-left-radius: 20px;
    }

    .secondcellradius {
        -webkit-border-bottom-right-radius: 20px;
        border-top-right-radius: 20px
    }

    .looser {
        background-color: #d9534f;
        color: white;
    }

    #tie {
        height: 50px;
        text-align: center;
        padding-top: 7px;
        -webkit-border-bottom-left-radius: 20px;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #5cb85c;
        color: white;
    }

    .winner {
        background-color: #5cb85c;
        color: white;
    }

</style>
<h1>VotingResult</h1>

<table class="table">
    <thead>
        <tr>
            <h3 id="tie" style="text-align:center;width: 59rem;">Winner Is @Model.ElementAt(0).FirstName @Model.ElementAt(0).LastName  -  @Model.ElementAt(0).VotesAchived Votes</h3>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CandidateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VotesAchived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int Count = 0;
            int m = Model.Count();
        }
        @foreach (var item in Model)
        {
            @if (Count == 0)
            {
                <tr>
                    <td class="winner firstcellradius">
                        @Html.DisplayFor(modelItem => item.CandidateId)
                    </td>
                    <td class="winner">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td class="winner">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="winner secondcellradius">
                        @Html.DisplayFor(modelItem => item.VotesAchived)
                    </td>
                </tr>
            }
            @if (Count == Model.Count() - 1)
            {
                <tr>
                    <td class="looser firstcellradius">
                        @Html.DisplayFor(modelItem => item.CandidateId)
                    </td>
                    <td class="looser">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td class="looser">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="looser secondcellradius">
                        @Html.DisplayFor(modelItem => item.VotesAchived)
                    </td>
                </tr>
            }
            @if (Count != 0 && Count != Model.Count() - 1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VotesAchived)
                    </td>
                </tr>
            }
            Count++;
        }
    </tbody>
</table>