@model IEnumerable<Service_Layer.vwModel.vwCandidate>

    @{
    ViewData["Title"] = "VotingResult";
}

<h1>VotingResult</h1>

<table class="table">
    <thead>
        <tr>
            <h3 id="tie">Winner Is @Model.ElementAt(0).FirstName @Model.ElementAt(0).LastName  -  @Model.ElementAt(0).VotesAchived Votes</h3>
        </tr>
        <tr class="text-white bg-dark">
            <th class="firstcellradius">
                @Html.DisplayNameFor(model => model.CandidateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="secondcellradius">
                @Html.DisplayNameFor(model => model.VotesAchived)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int Count = 0;
            int m = Model.Count();
        }
        @foreach (var item in Model)
        {
            @if (Count == 0)
            {
                <tr>
                    <td class="winner firstcellradius">
                        @Html.DisplayFor(modelItem => item.CandidateId)
                    </td>
                    <td class="winner">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td class="winner">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="winner secondcellradius">
                        @Html.DisplayFor(modelItem => item.VotesAchived)
                    </td>
                </tr>
            }
            @if (Count == Model.Count() - 1)
            {
                <tr>
                    <td class="looser firstcellradius">
                        @Html.DisplayFor(modelItem => item.CandidateId)
                    </td>
                    <td class="looser">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td class="looser">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td class="looser secondcellradius">
                        @Html.DisplayFor(modelItem => item.VotesAchived)
                    </td>
                </tr>
            }
            @if (Count != 0 && Count != Model.Count() - 1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VotesAchived)
                    </td>
                </tr>
            }
            Count++;
        }
    </tbody>
</table>