@model IEnumerable<Service_Layer.vwModel.vwCandidate>

    @{
    ViewData["Title"] = "Index";
}

<h1>E-Voting Results</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Candidate ID</h4>
            </th>
            <th>
                <h4>First Name</h4>
            </th>
            <th>
                <h4>Last Name</h4>
            </th>
            <th>
                <h4>Votes</h4>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int winner = 0;
            int TotalCandidate = 0;
            string winnerName = " ";
        }
        @foreach (var item in Model)
        {
            int count = item.CandidateId - 1;
            int vote = @item.Votes.ElementAt(count);
            <tr>
                @if (item.Votes.Max() == vote || item.Votes.Min() == vote)
                {
                    if (item.Votes.Max() == vote)
                    {
                        winner++;
                        TotalCandidate++;
                        <td id="firstcellradius" class="winner">
                            @Html.DisplayFor(modelItem => item.CandidateId)
                        </td>
                        winnerName = item.FirstName + " " + item.LastName;
                    }

                    @if (item.Votes.Min() == vote)
                    {
                        TotalCandidate++;
                        <td id="firstcellradius" class="looser">
                            @Html.DisplayFor(modelItem => item.CandidateId)
                        </td>
                    }
                }
                else
                {
                    TotalCandidate++;
                    <td>
                        @Html.DisplayFor(modelItem => item.CandidateId)
                    </td>
                }
                @if (item.Votes.Max() == vote || item.Votes.Min() == vote)
                {
                    if (item.Votes.Max() == vote)
                    {
                        <td class="winner">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                    }
                    @if (item.Votes.Min() == vote)
                    {
                        <td class="looser">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                    }
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                }
                @if (item.Votes.Max() == vote || item.Votes.Min() == vote)
                {
                    if (item.Votes.Max() == vote)
                    {
                        <td class="winner">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                    }
                    @if (item.Votes.Min() == vote)
                    {
                        <td class="looser">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                    }
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                }
                @if (item.Votes.Max() == vote || item.Votes.Min() == vote)
                {
                    if (item.Votes.Max() == vote)
                    {
                        <td id="secondcellradius" class="winner">
                            @vote
                        </td>
                    }
                    @if (item.Votes.Min() == vote)
                    {
                        <td id="secondcellradius" class="looser">
                            @vote
                        </td>
                    }
                }
                else
                {
                    <td>
                        @vote
                    </td>
                }
            </tr>
        }
        @{
            if (winner > 1 && winner != TotalCandidate)
            {
                <tr>
                    <p id="tie">Their is Tie between Highlighted Candidates</p>
                </tr>
            }
            else
            {
                if (winner > 1 && winner == TotalCandidate)
                {
                    <tr>
                        <h3 id="start">Voting is yet to start</h3>
                    </tr>
                }
                else
                {
                    <tr>
                        <h3 id="start">Winner Is - @winnerName</h3>
                    </tr>
                }
            }
        }
    </tbody>
</table>