@model IEnumerable<Service_Layer.vwModel.vwUser>

@{
    ViewData["Title"] = "Index";
}
<style>
    .dt{
    width:150px;
}
</style>
    <h1>List Of Voted Users</h1>
<form class="example">
  <input type="text" placeholder="Name of User" name="search">
  <input type="submit" value="Search" class="btn btn-outline-primary"/>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a class="text-dark text-decoration-none" asp-controller="Users" asp-action="Index">@Html.DisplayNameFor(model => model.UserId)<i class="bi bi-sort-up"></i></a>
            </th>
            <th>
                <a class="text-dark text-decoration-none" asp-controller="Users" asp-action="SortFirstName">@Html.DisplayNameFor(model => model.FirstName)<i class="bi bi-sort-up"></i></a>
            </th>
            <th>
                <a class="text-dark text-decoration-none" asp-controller="Users" asp-action="SortLastName">@Html.DisplayNameFor(model => model.LastName)<i class="bi bi-sort-up"></i></a>
            </th>
            <th>
                <a class="text-dark text-decoration-none" asp-controller="Users" asp-action="SortbyVote">@Html.DisplayNameFor(model => model.VoteStatus)<i class="bi bi-sort-up"></i></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoteStatus)-
                @Html.DisplayFor(modelItem=>item.CandidateName)
            </td>
             <td class="dt">
                @Html.DisplayFor(modelItem => item.dateTime)
            </td>
            <td>
                <a style="color:#5cb85c" class="bi bi-pencil-square" asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a style="color:#0275d8 " class="bi bi-collection-fill" asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a style="color:#d9534f " class="bi bi-trash-fill" asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
